/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.paticka {
  text-align: center;
  font-size: 14px;
  color: silver;
}

.paticka a {
  color: silver;
}

/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.kontejner {
  display: flex;
  max-width: 1200;
  margin: 0 auto;
}

.salat {
  background-image: url("images/salat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.chlebicek {
  background-image: url("images/chlebicek.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.tacos {
  background-image: url("images/tacos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.cizrna {
  background-image: url("images/cizrna.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.burger {
  background-image: url("images/burger.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

h1 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 0.8rem;
  font-weight: 400;
}

@media screen and (min-width: 320px) {
  .kontejner {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-weight: 800;
    font-size: 1.75rem;
    position: relative;
    top: 130px;
    left: 30px;
  }

  h2 {
    font-weight: 800;
    font-size: 1.2rem;
    position: relative;
    top: 130px;
    left: 30px;
  }

  .popis {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    margin-bottom: 250px;
  }

  .salat {
    height: 200px;
    margin-bottom: 1px;
  }

  .chlebicek,
  .cizrna,
  .burger,
  .tacos {
    height: 90px;
    font-family: "Raleway", sans-serif;
    padding: 0.5rem;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

@media screen and (min-width: 600px) {
  .kontejner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  h1 {
    font-weight: 800;
    font-size: 2rem;
    position: relative;
    top: 130px;
    left: 30px;
  }

  h2 {
    font-weight: 800;
    font-size: 1.5rem;
  }

  .popis {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    margin-bottom: 400px;
  }

  .salat {
    width: 100vw;
    height: 250px;
    position: relative;
  }

  .chlebicek,
  .cizrna,
  .burger,
  .tacos {
    height: 150px;
    width: 49.7%;
    padding: 1.25rem;
    margin: 1px;
  }
}

@media screen and (min-width: 900px) {
  .kontejner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  h1 {
    font-weight: 800;
    font-size: 3rem;
    position: relative;
    top: 130px;
    left: 30px;
  }

  h2 {
    font-weight: 800;
    font-size: 1.75rem;
  }
  .popis {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    margin-bottom: 300px;
  }

  .salat {
    flex-basis: 400px;
    height: 400px;
  }

  .chlebicek,
  .cizrna,
  .burger,
  .tacos {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1px;
  }
}
